/* Página de detalhes do personagem */
.character-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

/* Cabeçalho da página */
.header {
  display: flex;
  justify-content: space-between; /* Espaça logo e barra de pesquisa */
  align-items: center;
  width: 100%;
  padding: 10px;
  max-width: 1200px; /* Limita a largura máxima do cabeçalho */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

/* Logo dentro do cabeçalho */
.logo {
  width: 200px;
  margin-left: 20px; /* Espaço à esquerda da logo */
}

/* Link da logo que não deve encolher */
.logo-link {
  flex-shrink: 0;
}

/* Contêiner da barra de pesquisa */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza a barra de pesquisa */
  flex-grow: 1; /* Barra de pesquisa ocupa o máximo de espaço disponível */
  margin-left: 20px; /* Distância da logo até a barra */
}

/* Estilo da barra de pesquisa */
.search-bar {
  padding: 12px 20px;
  font-size: 16px;
  width: 100%;
  max-width: 500px; /* Limita a largura máxima da barra */
  margin-right: 10px; /* Distância da barra ao ícone da lupa */
  border-radius: 25px; /* Bordas arredondadas */
  border: 1px solid #ccc;
  background-color: #f8f8f8; /* Fundo claro */
  background-image: url('/assets/busca/Lupa/Shape@1,5x.svg'); /* Ícone da lupa */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left 10px center; /* Posiciona o ícone */
  padding-left: 40px; /* Espaço adicional para o ícone */
}

/* Efeito de foco na barra de pesquisa */
.search-bar:focus {
  border-color: #007bff; /* Cor de borda ao focar */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
}

/* Contêiner do personagem */
.character-container {
  display: flex;
  flex-direction: row-reverse; /* Imagem à direita */
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  max-width: 1200px;
  width: 100%;
  gap: 40px; /* Espaçamento entre imagem e detalhes */
}

/* Estilo da imagem do personagem */
.character-image {
  flex: 1;
  max-width: 300px;
  padding: 10px;
}

.character-image img {
  width: 100%;
  height: auto;
}

/* Estilo dos detalhes do personagem */
.character-details {
  flex: 1; /* Ajuste para 1 parte do espaço */
  max-width: 420px; /* Largura máxima */
  text-align: justify;
  padding: 10px;
}

/* Estilo dos parágrafos dentro dos detalhes */
.character-details p {
  text-align: justify;
}

/* Contêiner do nome do personagem e botão favorito */
.character-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Estilo do nome do personagem */
.character-name-container h1 {
  margin: 0;
  font-size: 24px;
}

/* Botão favorito */
.favorite-button {
  margin-left: 20px;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Informações adicionais do personagem */
.additional-info {
  margin-top: 20px;
  font-size: 16px;
}

/* Estilos para os quadrinhos do personagem */
.character-comics {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Grid de quadrinhos */
.comics-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
}

/* Estilo de cada quadrinho */
.comic-item {
  text-align: center;
}

.comic-item img {
  width: 100%;
  height: auto;
}

/* Informações adicionais organizadas em linhas */
.additional-info .info-row p {
  margin: 0;
  flex-basis: 48%; /* Largura dos itens dentro do flex */
}

.additional-info .info-row p:last-child {
  margin-top: 10px; /* Separação extra para o último item */
}

.additional-info p {
  margin: 0;
}

/* Contêiner para cada item dentro das informações adicionais */
.additional-info .info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 45%;
}

.info-item p {
  margin: 0;
}

.info-item span {
  font-size: 18px;
}

.additional-info .info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Espaço entre as linhas */
}

/* Estilo da seção de avaliações */
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-image {
  width: auto;
  height: auto;
}

.rating span {
  font-size: 18px;
}

/* Ícone favorito */
.favorite-icon {
  width: 24px;
  height: 24px;
}

/* Contêiner de carregamento */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Estilo da imagem de carregamento */
.loading-container img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

/* Estilo do texto de carregamento */
.loading-container p {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* Estilo do rodapé */
.footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
}

.footer p {
  margin: 0;
}
